
<head>
    <link rel="shortcut icon" href="/static/images/fav.png" id="favicon">	   
</head>

<body style="background-color:  #E0FFE0;">

    <div style="position:fixed;">
        {% include 'menudealer.html' %}
    </div> 
    <div style="margin-left: 218px;">   
        {% include 'dealerheader.html' %}  
    </div>

    <div class="container" style="margin-left: 240px;width: 1020px;margin-top:100px;">

    </div>
    <br><br><br>        

<div style="margin-left: 218px;">   
        {% include 'dealerfooter.html' %}
    </div>

</body>


