  <a href="#" class="logo">

    <span class="logo-mini"><b>A</b>E</span>

    <span class="logo-lg"><img src="/static/images/fav.png" style="margin-left: -20px;">
      <span style="font-family: Comic Sans MS, cursive,sans-serif;font-weight: bold;"> EKISAN</span> <b>Admin</b>
    </span>
    
  </a>

  <nav class="navbar navbar-static-top">

    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">

    </div>
  </nav>
