<aside class="main-sidebar">
    <br>
    
    <ul class="sidebar-menu" data-widget="tree">
        <li><a href="/admin/home/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Dashboard</b></b></span></a></li>
        <li><a href="/admin/farmers/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Farmers</b></b></span></a></li>
        <li><a href="/admin/dealers/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Dealers</b></span></a></li>
        <li><a href="/admin/products/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Products</b></span></a></li>
        <li><a href="/admin/bits/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Bits</b></span></a></li>
        <li><a href="/admin/categories/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Product Categories</b></span></a></li>
        <li><a href="/admin/crops/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>SubCategories</b></span></a></li>
        <li><a href="/admin/subscriptions/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Subscription</b></span></a></li>
        <li><a href="/admin/messages/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Messages</b></span></a></li>
        <li><a href="/admin/farmerprofilepics/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Farmer ProfilePics</b></span></a></li>
        <li><a href="/admin/dealerprofilepics/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Dealer ProfilePics</b></span></a></li>
        <li><a href="/admin/logout/"><span style="color: white;margin-left: 25px;font-size: 16px;"><b>Logout</b></span></a></li>
    </ul>
    
</aside>


