
{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EKISAN | Terms And Conditons</title>
    <link rel="shortcut icon" href="/static/images/fav.png" id="favicon">

    <meta name="description" content="Kid-friendly EKISAN platform">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
         .terms-section {
            padding: 20px;
            background-color: white;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .terms-section h2 {
            margin-bottom: 15px;
        }
        .terms-section p {
            text-align: justify;
        }
        body {
            background-color: #E0FFE0;
            font-family: 'Comic Sans MS', cursive, sans-serif;
        }

        .navbar {
            background-color: rgb(26, 39, 26);
        }

        .navbar-brand, .nav-link {
            color: white !important;
            font-size: 1.2em;
        }

        .navbar-toggler-icon {
            filter: invert(1);
        }

        .card {
            border-radius: 15px;
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-body img {
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .card-footer {
            text-align: center;
        }

        .slider-container {
            overflow: hidden;
            width: 100vw;
            position: relative;
        }

        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slider-controls button {
            background-color: transparent;
            border: none;
            font-size: 2em;
            cursor: pointer;
        }

        .footer {
            background-color: #2b3a24;
            color: white;
        }

        .footer a {
            color: white;
        }

        .footer hr {
            border-top: 1px solid white;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="/static/images/fav.png" style="width: 30px;height: 30px;"> EKISAN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/termsandconditons/">
                        Terms And Conditions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacypolicy/">
                        Privacy Policy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus/">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index/">
                         Sign In
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register/">
                         Sign Up
                    </a>
                </li>
            </ul>
        </div>
    </nav>


<div class="container mt-5">
    <div class="terms-section" style="box-shadow: 0 0 14px lightgray;">
        <h2 class="text-center p-5">Terms and Conditions</h2>
        <p class="lead pl-5">Welcome to EKISAN. Please read these terms and conditions carefully before using our platform.</p>
        <p class="pl-5 pr-5">By accessing or using EKISAN, you agree to be bound by these terms and conditions and our Privacy Policy. If you do not agree to all the terms and conditions, you may not access the platform or use any of its services.</p>
    </div>

    <div class="terms-section" style="box-shadow: 0 0 14px lightgray;">
        <h2 class="text-center p-5">Use of Our Platform</h2>
        <p class="pl-5 pr-5">You must be 18 years or older to use our platform. By using EKISAN, you represent that you are at least 18 years old.</p>
        <p class="pl-5 pr-5">You agree to use EKISAN only for lawful purposes and in accordance with these terms and conditions. You are responsible for maintaining the confidentiality of your account and password.</p>
    </div>

    <div class="terms-section" style="box-shadow: 0 0 14px lightgray;">
        <h2 class="text-center p-5">User Responsibilities</h2>
        <p class="pl-5 ">You agree not to:</p>
        <ul class="pl-5">
            <li>Use the platform in any way that violates applicable laws or regulations.</li>
            <li>Attempt to gain unauthorized access to any part of the platform or its systems.</li>
            <li>Interfere with or disrupt the integrity or performance of the platform.</li>
            <li>Upload or transmit any viruses or malicious code.</li>
            <li>Engage in any activity that could harm or damage EKISAN's reputation, services, or users.</li>
        </ul>
    </div>

    <div class="terms-section" style="box-shadow: 0 0 14px lightgray;">
        <h2 class="text-center p-5">Intellectual Property</h2>
        <p class="pl-5 pr-5 pb-5">The content on EKISAN, including text, graphics, logos, images, and software, is the property of EKISAN and is protected by copyright and other intellectual property laws. You may not use, reproduce, distribute, or modify any part of the platform without our prior written consent.</p>
    </div>

    <div class="terms-section" style="box-shadow: 0 0 14px lightgray;">
        <h2 class="text-center p-5">Limitation of Liability</h2>
        <p class="pl-5 pr-5 pb-5">EKISAN and its affiliates, officers, directors, employees, agents, and partners shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or related to your use of the platform, including but not limited to loss of profits, data, or goodwill.</p>
    </div>

    <div class="terms-section" style="box-shadow: 0 0 14px lightgray;">
        <h2 class="text-center p-5">Changes to Terms and Conditions</h2>
        <p class="pl-5 pr-5 pb-5">EKISAN reserves the right to update or modify these terms and conditions at any time without prior notice. Your continued use of the platform after any changes constitutes acceptance of those changes.</p>
    </div>

    <div class="terms-section" style="box-shadow: 0 0 14px lightgray;">
            <h2 class="pt-5 text-center">Contact Us</h2>
            
            <div class="row">
                <div class="col-md-6 pb-5">
                    <div>
                        <p class="pt-5 pl-5 pr-5">If you have any questions or feedback, please reach out to us:</p>
                        <p class="pl-5 pr-5">Email: support@ekisan.com</p>
                        <p class="pl-5 pr-5 pb-5">Address: EKISAN, Akot Road near Lodi Garden, Akola, Maharashtra, India</p>
                    </div>

                    <div class="card p-3" style="height: 375px;box-shadow: 0 0 14px lightgray;" >
                        <img src="/static/images/aboutus4.png" class="rounded" alt="Contact Us">
                    </div>
                </div>

                <div class="col-md-6 pt-5 pb-5">
                    
                    <div class="card" style="background-color: #E0FFE0;">
                        <div class="card-header" style="background-color: #2b3a24;color: white;">
                            <h4><strong>Contact Us</strong></h4>
                        </div>
                        <div class="form pt-3 pl-5 pr-5">
                            <form method="post" action="/contact">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" id="name" name="name" class="form-control" required placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="subject" name="subject" class="form-control" required placeholder="Enter subject">
                                </div>
                                <div class="form-group">
                                    <textarea id="message" name="message" rows="5" class="form-control" required placeholder="Enter your message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success mb-2">Submit</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div> 
    </div>

    <div class="terms-section p-5" style="box-shadow: 0 0 14px lightgray;">
        <p>By using our platform, you acknowledge that you have read, understood, and agree to these terms and conditions.</p>
        <p>Effective Date: 2024</p>
    </div>
</div>



    <!-- Footer -->
    <footer class="footer mt-5" style="background-color: rgb(26, 39, 26);margin-top: 50px;">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-2">
                    <h4 class="text-white"><img src="/static/images/fav.png"
                            style="width: 30px;height: 30px;text-decoration: none;"> EKISAN</h4>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white">Contact Us</h5>
                    <hr class="bg-light">
                    <p class="text-white">Email: support@e-kisan.com</p>
                    <p class="text-white">Phone: +91 7738824939</p>
                    <p class="text-white">Address: Akot Road near Lodi Garden ,Akola ,Maharashtra India</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white">Privacy Policy</h5>
                    <hr class="bg-light">
                    <p class="text-white"><a href="/aboutus/" class="text-white">About Us</a></p>
                    <p class="text-white"><a href="/privacypolicy/" class="text-white">Privacy Policy</a></p>
                    <p class="text-white"><a href="/termsandconditons/" class="text-white">Terms and Conditions</a></p>
    
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white">Services To Come Soon</h5>
                    <hr class="bg-light">
                    <p><a href="#" class="text-white">Farm Surveillance</a></p>
                    <p><a href="#" class="text-white">Farm Management and Sell</a></p>
                    <p><a href="#" class="text-white">Crop Advisory</a></p>
                    <p><a href="#" class="text-white">Agri-Insurance</a></p>
                </div>
            </div>
    
            <div class="text-center p-3">
                <p class="text-white mb-0">All Rights Reserved 2024 © e-Kisan.com</p>
            </div>
    
    
    </footer>
    
                 
</body>
</html>
